<!--Top view-->
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard</h1>
    </div>
</div>

<div class="row">
    <!--Fixed Asset Section-->
    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
            <header role="heading" class="ui-sortable-handle">
                <div class="jarviswidget-ctrls" role="menu"><a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a></div>
                <span class="widget-icon"> <i class="fa fa-tree"></i> </span>
                <h2>Fixed Asset</h2>
            </header>

            <!-- widget div-->
            <div class="content">
                <!-- widget content -->
                <div class="widget-body">
                    <!--Table-->
                    <div class="row">
                        <div class="col-md-9 col-sm-6">
                            <table datatable="ng" dt-options="dtOptions" id="dt_Asset" style="display: table; width: 100%;" class="responsive-table table table-responsive table-striped table-bordered table-hover width-100">
                                <thead class="width-100">
                                    <tr>
                                        <th>Ref. No.</th>
                                        @*<th>Work Order No.</th>*@
                                        <th class="dt-width-200">Category</th>
                                        <th>Capture Date</th>
                                        <th class="dt-width-150">Department</th>
                                        <th>Asset Cost</th>
                                        <th class="dt-width-100">Status</th>
                                    </tr>
                                </thead>
                                <tbody class="width-100">
                                    <tr ng-repeat="data in dashboardDataModel.CurrentFixedAssets">
                                        <td>{{data.ContractReference}}</td>
                                        @*<td>{{data.WorkOrderNo}}</td>*@
                                        <td>{{data.CategoryName}}</td>
                                        <td class="text-center">{{data.PurchaseDate}}</td>
                                        <td>{{data.DepartmentName}}</td>
                                        <td class="text-right">{{data.AssestCost| number}}</td>
                                        <td class="text-center">{{data.StatusName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--Fixed Asset Card Section-->
                        <div class="col-md-3 col-sm-6">
                            <div class="iconic-w-wrap number-rotate">
                                <span class="stat-w-title">Fixed Asset</span>
                                <a href="/Application/Insight/assets" class="ico-cirlce-widget w_bg_cyan">
                                    <span><i class="fa fa-list-alt"></i></span>
                                </a>
                                <div class="w-meta-info">
                                    <span class="w-meta-value number-animate" data-value="330" data-animation-duration="1500">{{dashboardDataModel.TotalNumOfAsset}}</span>
                                    <span class="w-meta-title">Authorized Assets</span>
                                    <span class="w-previos-stat">Total Amount : {{dashboardDataModel.TotalAssetValue | number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </div>
        <!-- end widget -->
    </article>

    <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <div class="jarviswidget" id="wid-id-6" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-editbutton="false" data-widget-sortable="false" role="widget">
            <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
            <header role="heading">
                <div class="jarviswidget-ctrls" role="menu">   <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>  <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-times"></i></a></div>

                <h2>Pie Chart </h2>

                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>

            <!-- widget div-->
            <div role="content">

                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
                    <input class="form-control" type="text">
                </div>
                <!-- end widget edit box -->
                <!-- widget content -->
                <div class="widget-body">

                    <!-- this is what the user will see -->
                    <canvas id="pieChart" height="157" width="396" style="width: 317px; height: 126px;"></canvas>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>
        </article>

</div>



