<!-- Delete Modal HTML -->
@*<style type="text/css">
    .modal-dialog {
        width: 30% !important;
    }
</style>*@
<div id="{{uniqueId}}" class="modal fade">
    <div class="modal-dialog modal-confirm modal-sm">
        <div class="modal-content no-padding" dragable>
            <div class="modal-header">
                <h4 class="modal-title">Session Expiring!</h4>
            </div>
            <div class="modal-body">
                <p>Your Session is about to expire!</p>
                <p>Do you need more time?</p>
                @*<h2 class="danger">Countdown:&nbsp;&nbsp;{{countDown}}</h2>*@
                <div class="progress">
                    <div class="progress-bar bg-warning" style="width:{{countDown*5}}%"></div>
                </div>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="NotifyParent()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    No
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>
