<form class="form-horizontal">

    <fieldset>
        @*<legend>Disabled Form Elements</legend>*@
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label class="col-md-4 control-label">Asset Reference</label>
            <div class="col-md-8">
                <input class="form-control" disabled="disabled" placeholder="00000FXERAOA" type="text">
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            <label class="col-md-4 control-label">Description</label>
            <div class="col-md-8">
                <input class="form-control" disabled="disabled" placeholder="Excutive Table " type="text">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <article class="col-sm-12 col-md-12 col-lg-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-2" data-widget-colorbutton="false" data-widget-editbutton="false">


                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <div class="widget-body-toolbar">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetDetails">
                                        <i class="fa fa-plus"> &nbsp; Add Assets Details</i>
                                    </button>
                                </div>
                                <!-- Trigger the modal with a button -->
                            </div>
                        </div>
                        <table datatable="ng" id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th>Item Number</th>
                                    <th>Description</th>
                                    <th>Item Cost</th>
                                    <th>Expected Delivery Date</th>
                                    <th>Delived</th>
                                    <th>Inspected</th>
                                    <th>Remarks</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="assetDetails in assetDetailsList">
                                    <td>{{assetDetails.ItemNumber}}</td>
                                    <td>{{assetDetails.Description}}</td>
                                    <td>{{assetDetails.ItemCost}}</td>
                                    <td>{{assetDetails.ExpectedDeliveryDate}}</td>
                                    <td>{{assetDetails.Delivered}}</td>
                                    <td>{{assetDetails.Inspecred}}</td>
                                    <td>{{assetDetails.Remarks}}</td>
                                    <td>
                                        <a data-toggle="modal" data-target="#editAssetDetails">
                                            <i class="fa fa-pencil-square"></i>&nbsp;Edit
                                        </a>
                                        <a><i class="fa fa-minus-square"></i>&nbsp;Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group col-sm-12 col-md-12 col-lg-12 pull-right">
                            <label class="col-md-4 control-label">Total Item Cost</label>
                            <div class="col-md-8">
                                <input class="form-control" disabled="disabled" placeholder="10000tk" type="text">
                            </div>
                        </div>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->

        </article>
        <!-- WIDGET END -->
    </fieldset>

</form>

<div class="modal fade" id="addAssetDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Asset Details</h4>
            </div>
            <div class="modal-body">
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Description" type="text" ng-model="assetDetail.ItemNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Item Cost</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Item Cost" type="text" ng-model="assetDetail.ItemCost">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Event Number" type="text" ng-model="assetDetail.Description">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Expected delevary Date</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Expected delevary Date" type="date" ng-model="assetDetail.ExpectedDeliveryDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9 ">
                                        <input type="checkbox" ng-model="assetDetail.Delivered">
                                        <span>Delivered</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9 ">
                                        <input type="checkbox" ng-model="assetDetail.Inspecred">
                                        <span>Inspecred</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remarks</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" placeholder="Remarks" rows="4" ng-model="assetDetail.Remarks"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveAssetDetails()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editAssetDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Asset Details</h4>
            </div>
            <div class="modal-body">
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Description" type="text" ng-model="assetDetail.ItemNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Item Cost</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Item Cost" type="text" ng-model="assetDetail.ItemCost">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Event Number" type="text" ng-model="assetDetail.Description">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Expected delevary Date</label>
                                    <div class="col-md-9">
                                        <input class="form-control" placeholder="Expected delevary Date" type="date" ng-model="assetDetail.ExpectedDeliveryDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9 ">
                                        <input type="checkbox" ng-model="assetDetail.Delivered">
                                        <span>Delivered</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9 ">
                                        <input type="checkbox" ng-model="assetDetail.Inspecred">
                                        <span>Inspecred</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Remarks</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" placeholder="Remarks" rows="4" ng-model="assetDetail.Remarks"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="editAssetDetails(assetDetail.Id)">Save changes</button>
            </div>
        </div>
    </div>
</div>
