@{
    ViewBag.Title = "Enterprise Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" ng-controller="PassChangeCtrl">
    <div flash-message="10000"></div>

    <!--Side bar starts-->
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" style="display:none;">
        <!--Side Content-->
        <h1 class="txt-color-red login-header-big">SmartAdmin</h1>
        <div class="hero">
            <div class="pull-left login-desc-box-l">
                <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                <div class="login-app-icons">
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
                </div>
            </div>
            <img src="~/Content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px" />
        </div>

        <!--Side Footer test-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h5 class="about-heading">Not just your average template!</h5>
                <p>
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                </p>
            </div>
        </div>

    </div>
    <!--Side bar ends-->

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-lg-offset-4">
        <div class="well no-padding">
            <form id="passChange-form" class="smart-form client-form" ng-submit="ChangePassword()">
                <header class="text-center">
                    <img src="~/Content/img/logo.png" alt="KS Apparels" class="float-right">
                </header>
                <header style="padding:5px 13px !important;">
                    New User Password Change
                </header>

                <fieldset>
                    <!--Password section starts-->
                    <section>
                        <label class="label">Old Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" ng-model="oldPassword" ng-required=true>
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Enter your old password
                            </b>
                        </label>
                    </section>
                    <section>
                        <label class="label">New Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" ng-model="newPassword" ng-required=true>
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Enter your new password
                            </b>
                        </label>
                    </section>
                    <section>
                        <label class="label">Confirm New Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input type="password" name="password" ng-model="ConfirmnewPassword" ng-required=true> 
                            <label class="label"><i ng-show="newPassword==ConfirmnewPassword" class="fa fa-check green" style="color: green;">Confirm password matched!</i></label>
                            
                            <b class="tooltip tooltip-top-right">
                                <i class="fa fa-lock txt-color-teal"></i> Confirm your new password
                            </b>
                        </label>
                    </section>
                    <!--Password section ends-->
                                   </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> Update Password
                    </button>
                </footer>
            </form>

        </div>

    </div>
</div>
